@import 'fonts.css';
@import 'button.css';

/* @import '../node_modules/swiper/swiper-bundle.css'; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
    /* background-color: #222222; */
}

.container {
    width: 1175px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    display: block;
    width: 50%;
    width: 100%;
    position: absolute;
}

h2 {
    font-family: 'Agora Sans Pro';
    font-size: 38px;
    font-weight: 500;
    color: #222222;
}

.fixed {
    position: fixed;
    background: black;
    opacity: 0.7;
    box-shadow: -5px 5px 15px;
    z-index: 5;
    transform: translateY(-100px);

}

.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    width: 100% - 16px;
    max-width: 1175px;
    justify-content: space-between;
    padding: 30px 0;
    background-color: transparent;
}

.nav-logo {
    width: 398px;
    height: 70px;
    background: url('../assets/logo/logo5.png') center / cover no-repeat;
}

.nav-menu {
    display: flex;
    position: relative;
}

.mobile-icons {
    display: none;
}

.mobile-nav {
    display: none;
}

.nav-link-block {
    margin-right: 40px;
    list-style: none;
    text-align: center;
}

.nav-link-block:nth-child(5) {

    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Agora Sans Pro';
}

.nav-link-underline {
    list-style: none;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    transition: transform .25s;
}

.nav-link-block:first-child.active~.nav-link-underline {
    transform: translateX(0) scaleX(0.078);
}

.nav-link-block:nth-child(2).active~.nav-link-underline {
    transform: translateX(13.75%) scaleX(0.21);
}

.nav-link-block:nth-child(3).active~.nav-link-underline {
    transform: translateX(calc(40.5%)) scaleX(0.215);
}

.nav-link-block:nth-child(4).active~.nav-link-underline {
    transform: translateX(calc(67.5%)) scaleX(0.13);
}

.nav-link-block:nth-child(5).active~.nav-link-underline {
    transform: translateX(86.05%) scaleX(0.145);
}

/* title section */

.title-section {
    display: flex;
    height: 800px;
    background-color: rgb(247, 144, 144);
    background: url('../assets/bg.jpg') no-repeat center/cover;
}

.title-section h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Agora Sans Pro';
    font-size: 40px;
    font-weight: 500;
    width: 55%;
    line-height: 64px;
    margin-top: 280px;

}

/* cards */
/* .cards-section {
    background-color: #fff;
    position: relative;
    width: 100%;
} */

.cards-slider {
    display: none;
}

.title-section .wrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1175px;
    margin: 0 auto;
    left: calc((100% - 1175px)/2);
    top: 600px;
}

.card {
    width: 370px;
    height: 530px;
    background-color: #405477;
    padding: 70px 25px 50px 33px;
    text-align: center;
    border-radius: 10px;
}

.card:hover {
    /* box-shadow: -1px 1px 20px 1px #222222; */
    box-shadow: -2px 3px 7px 0px #979292;
}

.card-icon {
    max-height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card-title {
    margin-bottom: 45px;
    font-family: 'Agora Sans Pro';
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.card-text {
    margin-bottom: 55px;
    font-family: 'Agora Sans Pro';
    font-size: 16px;
    font-weight: 500;
    color: #e7e7e7;
    /* word-spacing: 3px; */
    line-height: 28px;
}

/* section about */

.about-section {
    padding-top: 490px;
    padding-bottom: 35px;
    background: #fff;
}

.about-content {
    width: 45%;
}

.about-title {
    margin-top: 20px;
    margin-bottom: 53px;
}

.about-text {
    font-family: 'Agora Sans Pro';
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    line-height: 28px;
    margin-bottom: 52px;
}

.about-image {
    width: 570px;
    height: 435px;
    background-color: grey;
    margin-left: auto;
    border-radius: 10px;
    background: url(../assets/mocks/about.jpg) center / cover no-repeat;
}

.about-content .button {
    margin: 0;
}

/* section  projects*/
.projects-section {
    background: #fff;
    padding-top: 30px;
}

.projects-title {
    margin-bottom: 80px;
}

.swiper-container {
    height: 480px;
}

.projects-slide_1 {
    background: url('../assets/slides/046_big2.jpg')no-repeat center / cover;
}

.projects-slide_2 {
    background: url('../assets/slides/ppr-elektromontagnye-raboty.jpg')no-repeat center / cover;
}

.projects-slide_3 {
    background: url('../assets/slides/129.jpg')no-repeat center / cover;
}

.projects-slide_4 {
    background: url('../assets/slides/13.png')no-repeat center / cover;
}

.projects-slide_5 {
    background: url('../assets/slides/840px-Communication-tower.jpg')no-repeat center / cover;
}

.projects-slide_6 {
    background: url('../assets/slides/montazh-vyshek.jpg')no-repeat center / cover;
}

.projects-slide_7 {
    background: url('../assets/slides/unnamed.jpg') no-repeat center / cover;
}

/* section advantages */

.advantages-section {
    padding: 115px 0;
    background-color: #fff;
}

.advantages-title {
    margin-top: 20px;
    margin-bottom: 55px;
}

.advantages-wrap {
    justify-content: space-between;
}

.advantages-col {
    max-width: 45%;
}

.advantage-content {
    margin-bottom: 65px;
}

.advantage-subtitle {
    font-family: 'Agora Sans Pro';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #333333;
}

.advantage-text {
    font-family: 'Agora Sans Pro';
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 28px;
}

/* news-section */

.news-section {
    padding: 105px 0 125px 0;
    background: #19a1b1;
}

.news-title {
    color: #fff;
    margin-bottom: 60px;
}

.news-wrap {
    justify-content: space-between;
}

.news-content {
    max-width: 30%;
}

.news-date {
    margin-right: 35px;
}

.date-dd,
.date-mm {
    display: block;
    color: #c8cccd;
}

.date-dd {
    font-family: 'Agora Sans Pro';
    font-size: 42px;
    font-weight: 500;
}

.date-mm {
    font-family: 'Agora Sans Pro';
    font-size: 18px;
    text-transform: uppercase;
}

.news-subtitle {
    color: #fff;
    font-family: 'Agora Sans Pro';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    word-spacing: 5px;
}

.news-top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

/* .news-body {

} */

.news-text {
    font-family: 'Agora Sans Pro';
    font-size: 18px;
    font-weight: 500;
    color: #e6e6e6;
    line-height: 28px;
    margin-bottom: 65px;
    text-align: justify;
}

.news-body .button {
    margin: 0;
}

/* map-section */

.map-section {
    max-height: 720px;
}

.map-section>iframe {
    height: 720px;
}

/* footer */
.footer {
    background-color: #405477;
    height: 515px;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
}

.icons-wrap {
    justify-content: space-around;
}

.icon-block {
    max-width: 25%;
}

.footer-icon {
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}

.footer-text {
    color: #fff;
    font-family: 'Agora Sans Pro';
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.footer-scroll-top {
    position: absolute;
    bottom: calc(-140px * 2/3);
    left: calc((100% - 140px) / 2);
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.scroll-top-btn {
    display: block;
    color: #405477;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: calc((100% - 25px) / 2);
    top: 10px;
}

.text-wrapper {
    display: none;
}

/* media queries */

@media only screen and (max-width: 1199px) {

    .container {
        width: 960px;
        margin: 0 auto;
    }

    .mobile-icons {
        display: flex;
    }

    .callback-icon {
        color: white;
        font-size: 30px;
        margin-right: 50px;
    }

    .nav-menu-icon {
        color: white;
        font-size: 32px;
    }

    .header-nav {
        position: relative;
    }

    .header-nav .desktop-nav {
        display: none;
    }

    .header-nav .mobile-nav {
        position: absolute;
        bottom: -185px;
        right: 0;
        background: rgba(255, 255, 255, 0.301);
        padding: 15px;
        border-radius: 2px;
    }

    .nav-menu {
        display: block
    }

    .nav-link-block {
        margin: 0;
        margin-bottom: 20px;
    }

    .nav-link-block:nth-child(5) {

        margin-bottom: 0;
    }

    .nav-link {
        color: #fff;
        font-size: 18px;
        opacity: 1;
    }

    .nav-link-underline {
        display: none;
    }

    .title-section {
        height: 600px;
    }

    .title-section h1 {
        font-size: 34px;
        line-height: 48px;
        margin-top: 240px;
    }

    .title-section .wrap {
        display: none;
    }

    .swiper-container.cards-slider {
        display: flex;
        width: 370px;
        height: 530px;
        position: absolute;
        top: 450px;
        left: calc((100% - 370px) / 2);
    }

    .card:hover {
        box-shadow: none;
    }


    .about-image {
        width: 450px;
        height: 380px;
    }

    .about-title {
        margin-top: 12px;
        margin-bottom: 30px;
    }

    .about-text {
        margin-bottom: 30px;
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-rendering: auto;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    .map-section>iframe {
        height: 500px;
    }
}


@media only screen and (max-width: 991px) {

    .container {
        width: 720px;
    }

    h2 {
        font-size: 32px
    }

    .header-nav {
        padding: 20px 0;
    }

    .title-section h1 {
        font-size: 26px;
        line-height: 42px;
        margin-top: 220px;
    }

    .about-image {
        width: 400px;
        height: 330px;
    }

    .about-title {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .about-text {
        font-size: 16px;
        line-height: 24px;
        max-width: 230px;
    }

    .projects-title {
        margin-bottom: 45px;
    }

    .advantages-section {
        padding: 70px 0;
    }

    .footer {
        height: 450px;
    }

    .text-wrapper {
        display: inline;
    }
}

@media only screen and (max-width: 767px) {

    .container {
        width: 540px;
    }

    h2 {
        font-size: 28px;
    }

    .nav-logo {
        background: url('../assets/logo/logo3.png') center / contain no-repeat;
        width: 217px;
    }

    .title-section h1 {
        width: 73%;
    }

    .nav-logo {
        width: 160px;
    }

    .about-image {
        width: 290px;
        height: 300px;
    }

    .about-text {
        font-size: 15px;
        line-height: 21px;
        max-width: 213px;
    }

    .advantages-section {
        padding: 55px 0;
    }

    .advantages-title {
        margin-bottom: 45px;
    }

    .advantage-content {
        margin-bottom: 30px;
    }

    .advantage-subtitle {
        font-size: 20px;
        margin-bottom: 18px;
    }

    .advantage-text {
        font-size: 14px;
        line-height: 26px;
    }

    .footer {
        height: 500px;
        padding-top: 80px;
    }

    .icons-wrap {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .icon-block {
        width: 50%;
        margin-bottom: 50px;
        max-width: none;
    }

    .icon-block:nth-child(2) {
        order: 2;
    }

    .icon-block:nth-child(4) {
        order: 1;
    }
}

@media only screen and (max-width: 559px) {

    .container {
        max-width: 90%;
        margin: 0 auto;
    }



    .nav-logo {
        background: url('../assets/logo/logo3.png') center / contain no-repeat;
        width: 120px;
        height: 50px;
    }

    .callback-icon {
        font-size: 22px;
    }

    .callback-icon i {
        margin-top: 2px;
    }

    .nav-menu-icon {
        font-size: 26px;
    }

    .title-section h1 {
        font-size: 21px;
        line-height: 40px;
        margin-top: 250px;
        width: 100%;
        max-width: 335px;
    }

    .swiper-container.cards-slider {
        display: flex;
        width: 320px;
        height: 450px;
        position: absolute;
        top: 450px;
        left: calc((100% - 320px) / 2);
    }

    .card {
        width: 320px;
        height: 450px;
        padding: 40px 20px 40px 25px;
    }

    .card-icon {
        max-height: 80px;
    }

    .card-title {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .card-text {
        font-size: 15px;
        margin-bottom: 45px;
    }

    .about-section {
        padding-top: 380px;
    }

    .about-section .flex {
        flex-direction: column;
        align-items: center;
    }

    .about-content {
        width: unset;
        margin-bottom: 20px;
    }

    .about-title {
        text-align: center;
    }

    .about-text {
        margin: 10px auto 20px;
        font-size: 15px;
        line-height: 21px;
        max-width: 90%;
    }

    .about-content .button {
        margin-left: auto;
        margin-right: auto;
    }

    .about-image {
        margin-right: auto;
        width: 310px;
        height: 270px;
    }

    .projects-slider {
        height: 280px;
    }

    .advantages-wrap {
        flex-direction: column;
    }
    .advantage-content {
        margin-left: 10px;
    }
    .advantages-title {
        width: 90%;
    }

    .advantages-col {
        max-width: 100%;
        margin: 0px auto;
    }

    .advantage-text {
        width: 91%;
    }

    .map-section>iframe {
        height: 300px;
    }

    .footer {
        height: 450px;
        padding-top: 50px;
    }

    .footer-icon {
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .footer-text {
        font-size: 12px;
    }
}

@media (max-width: 374px) {

    h2 {
        font-size: 24px;
    }
    .title-section {
        height: 500px;
    }

    .title-section h1 {
        font-size: 19px;
        line-height: 32px;
        margin-top: 150px;
    }

    .swiper-container.cards-slider {
        width: 300px;
        height: 440px;
        top: 350px;
        left: calc((100% - 300px) / 2);
    }

    .card {
        width: 300px;
        height: 440px;
        padding: 30px 15px 20px 15px;
    }
    .card-text {
        margin-bottom: 55px;
    }

    .about-section {
        padding-top: 340px;
    }
    .about-text {
        line-height: 20px;
        max-width: 93%;
    }
    .about-image {
        width: 100%;
    }

    .footer {
        height: 420px;
    }
}